body {
  background: purple;
  font-family: helvetica, sans-serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Grandstander', cursive;
  text-align: center;
  font-size: 60px;
  color: white;
  margin: 40px 0 0 0;
}

h2 {
  font-family: 'Grandstander', cursive;
  text-align: center;
  font-size: 40px;
  color: white;
  margin: 0 0 10px 0;
}

h3 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 10px 0 20px 0;
}

/* Header */

.introduction {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

img {
  position: center;
  height: 200px;
  padding: 10px;
  width: 200px;
}

div {
  height: 500px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
}

small {
  opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

.first{
  background-image: url("https://i.imgur.com/Hb1oWaI.png");
}

.second{
  background-image: url("https://i.imgur.com/NW9ETBM.png?1");
}

.third{
  background-image: url("https://i.imgur.com/mPT2hUo.jpg");
}

.type {
  float: right;
}

/* Off-canvas menu */

.controls {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-control {
  fill: #white;
  margin: 25px;
  height: 50px;
  width: 50px;
  position: right;
  padding: 10px;
}

.menu {
  background-color: rgba(7,34,53,1);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
}

.menu-open {
  transform: translateX(0%);
  opacity: 1;
}

.menu a, .menu a:focus, .menu a:visited {
  color: white;
  display: block;
  font-size: 50px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
}

.menu-close {
  background-color: white;
  color: darkred;
}

/* Mobile first responsive design */
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin-top: 20px;
    line-height: 40px;
  }

  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }

  div {
    margin: 20px 12px 0 12px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }

  small {
    font-size: 16px;
  }
}
